
New Unity Project/Temp/UnityTempFile-bea70f480d29f2a48abf2651c481de10
*.csproj
*.csproj
New Unity Project/Assembly-CSharp-Editor-firstpass.csproj
New Unity Project/Assembly-CSharp-firstpass.csproj
*.csproj
*.csproj
*.yaml
*.info
*.bin
New Unity Project/Temp/UnityLockfile
*.cache
New Unity Project/Assets/Scenes/Niveau_1.unity
New Unity Project/Library/assetDatabase3
New Unity Project/Library/CurrentMaximizeLayout.dwlt
New Unity Project/Library/EditorInstance.json
New Unity Project/Library/gfu/cache/branches.yaml
New Unity Project/Assets/Scenes/Niveau_2.unity
New Unity Project/Library/gfu/cache/gitstatusentries.yaml
New Unity Project/Library/gfu/cache/gittrackingstatus.yaml
New Unity Project/Library/gfu/cache/repoinfo.yaml
New Unity Project/Library/InspectorExpandedItems.asset
New Unity Project/Temp/__Backupscenes/0.backup
New Unity Project/Library/ScriptAssemblies/Assembly-CSharp.dll.mdb
